{% extends 'base.html' %}

{% block titile %}Timeline{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div>
    <div class="row">
        <div class="col-3">
            Profile Details
        </div>
        <div class="col-6">
            <!-- Create New Post -->
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button class="btn rounded-pill btn-md btn-primary" type="submit">Post</button>
                </div>
            </form>

            <!-- Display Posts -->
            <div class="mt-5">
                <div>
                    {% for post in posts %}
                        <div class="card mx-auto m-3" style="width: 600px;">
                            <div class="card-body">
                                <!-- Post Header -->
                                <div class="row justify-content-between">
                                    <div class="col-8" style="font-size: 20px;">
                                        <img
                                          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                          class="img-fluid rounded"
                                          alt="User Image"
                                          width="30"
                                        />
                                        <a class="mx-2" style="text-decoration: none;" href="">
                                            <i>{{post.author.username|title}}</i>
                                        </a>
                                    </div>
                                    <div class="col-4 text-secondary">
                                        <i>Posted on {{post.posted_at|date:'f a'}}</i>
                                    </div>
                                </div>
                                <!-- Post Tilte -->
                                <h5 class="card-title m-2">{{post.title}}</h5>
                            </div>
                            <div class="text-center mb-3">
                                <img src="{{post.image.url}}" alt="Post Image" width="300" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3">
            People To Follow
        </div>
    </div>
</div>
{% endblock %}