{% extends 'base.html' %}

{% block titile %}Timeline{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div>
    <div class="row">
        <!-- Profile -->
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <!-- Profile Image -->
                <img
                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                    class="img-fluid rounded mx-auto mt-3"
                    alt="User Image"
                    width="100"
                />
                <!-- User Details -->
                <div class="card-body text-center mt-1">
                    <h5 class="card-title text-primary">
                        {{ request.user.username|title}}
                    </h5>
                    <p class="text-secondary mt-1"><i>{{ request.user.email}}</i></p>
                </div>
                <!-- Follower Details -->
                <div class="row justify-content-between text-primary gx-3 mx-3 mb-2">
                    <div class="col"><b>Followers</b> 0</div>
                    <div class="col"><b>Following</b> 0</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <!-- Create New Post -->
            <form id="postForm">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button
                      class="btn rounded-pill btn-md btn-primary"
                      onclick="submitForm()"
                    >
                        Post
                    </button>
                </div>
            </form>

            <!-- Display Posts -->
            <div class="mt-5">
                <div id="postContainer">
                    {% for post in posts %}
                        <div class="card mx-auto m-3" style="width: 600px;">
                            <div class="card-body">
                                <!-- Post Header -->
                                <div class="row justify-content-between">
                                    <div class="col-8" style="font-size: 20px;">
                                        <img
                                          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                          class="img-fluid rounded"
                                          alt="User Image"
                                          width="30"
                                        />
                                        <a class="mx-2" style="text-decoration: none;" href="">
                                            <i>{{post.author.username|title}}</i>
                                        </a>
                                    </div>
                                    <div class="col-4 text-secondary">
                                        <i>Posted on {{post.posted_at|date:'f a'}}</i>
                                    </div>
                                </div>
                                <!-- Post Tilte -->
                                <h5 class="card-title m-2">{{post.title}}</h5>
                            </div>
                            <!-- Post Image -->
                            <div class="text-center mb-3">
                                <img src="{{post.image.url}}" alt="Post Image" width="300" />
                            </div>
                            <!-- Post Actions -->
                            <div class="row justify-content-start m-3 g-3">
                                <div class="col-2">
                                    {% if request.user in post.likes.all %}
                                        <i class="bi bi-heart-fill text-danger"></i>
                                    {% else %}
                                        <i class="bi bi-heart"></i>
                                    {% endif %}
                                    {{post.likes.all|length}}
                                </div>
                                <div class="col-2">Comments</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3">
            People To Follow
        </div>
    </div>
</div>

<script>
    function submitForm() {
        event.preventDefault()

        var form = document.getElementById('postForm');

        // Form Data
        var formData = new FormData(form)

        fetch('http://127.0.0.1:8000/create-post', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Eroor('Network response was not ok')
            }
            return response.json();
        })
        .then(data => {
            console.log('New Post: ', data)
            form.reset()
            var postContainer = document.getElementById('postContainer')
            postContainer.insertAdjacentHTML('afterbegin', `
                <div class="card mx-auto m-3" style="width: 600px;">
                    <div class="card-body">
                        <!-- Post Header -->
                        <div class="row justify-content-between">
                            <div class="col-8" style="font-size: 20px;">
                                <img
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                    class="img-fluid rounded"
                                    alt="User Image"
                                    width="30"
                                />
                                <a class="mx-2" style="text-decoration: none;" href="">
                                    <i>${data.author.username}</i>
                                </a>
                            </div>
                            <div class="col-4 text-secondary">
                                <i>Posted on ${new Date(data.posted_at).toLocaleString('en-US', {hour: 'numeric', minute: 'numeric', hour12: true})}</i>
                            </div>
                        </div>
                        <!-- Post Tilte -->
                        <h5 class="card-title m-2">${data.title}</h5>
                    </div>
                    <div class="text-center mb-3">
                        <img src="${data.image}" alt="Post Image" width="300" />
                    </div>
                </div>
            `)
        })
        .catch(error => {
            console.error('Error posting data', error)
        })
    }
</script>
{% endblock %}